{% set default_image = '/plugins/cleanse/news/assets/images/default-article.jpg' %}

<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1>Podcast List</h1>
            <div class="sub-box"></div>
        </div>
    </div>

    <div class="container basic-content">
        <div class="row">
        {% for episode in episodes %}
            <div class="col-lg-6">
                <div class="article">
                    <a href="{{ episode.link }}">
                        <img
                                class="article-img-top"
                                src="{{ episode.image ?: default_image }}"
                                alt="{{ episode.title }}" />
                    </a>

                    <div class="article-tag-date">
                        <p class="article-tag">
                            <a href="{{ episode.link }}">
                                <i class="fas fa-podcast"></i> Listen
                            </a>
                        </p>
                        <p class="article-date">{{ episode.created_at|timediff }}</p>
                    </div>

                    <div class="article-body">
                        <h5 class="article-title"><a href="{{ episode.link }}">
                            {{ episode.title }}
                        </a></h5>
                        <p class="article-text">{{ episode.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>